// Middle form:
// width: 100px;
// height: 70px;
 
// Side Forms:
// width: 50px;
// height: 60px;
 
// Text: 
// font: 'Wendy One', sans-serif;
// ( https://fonts.googleapis.com/css2?family=Wendy+One&display=swap )
// font-size: 24px;
 
// Background colors: #4a2873 & #19154a;
// Colors:
//  white: #ffffff;
//  black: #000000;
// orange: #b64d00;
// green: #0c540b;
// yellow: #f7ca05;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}